body{
    margin:0
}
*{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family:sans-serif;
}
a{
    text-decoration: none;
}

/*-------------

banner

----------------*/
.banner{
    background-image: url("../img/banner.jpg");
    width:100%;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    position:relative;
    /*padding: 35px;*/

}

.banner__bar{
    /*margin:30px auto 0;
    max-width: 768px;*/
    padding:1rem;
    background-color: #f2f9ff;
    border:1px solid #ddd;
    border-radius:8px;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.banner__bar .fa-bluetooth-b{
    flex-grow:1;
    color:#33698f;
    
}
.banner__bar .fa-info-circle{
    color:#93969b;
    
}
.banner__bar >p{
    margin:0;
    flex-grow:10;
}
.banner__bar >i{
    font-size:1.5rem
}
@media(max-width: 767px){
    .banner{
        height:30vh;
        padding: 35px;
        
    }
    .banner__bar{
        margin:2rem auto 0;
        max-width: 100%;
    }
}
@media(min-width: 768px) and (max-width:991px){
    .banner{
        height:50vh;
        padding: 35px;
        
    }
    .banner__bar{
        margin:8rem auto 0;
        max-width: 700px;
    }
}
@media(min-width: 992px){
    .banner{
        height:70vh;
        padding: 35px;
        
    }
    .banner__bar{
        margin:14rem auto 0;
        max-width:900px;
    }
}
/*-------------

nav

----------------*/
nav{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-color: #fbf5f5;
    border-top:1px solid #c8c7c5;
    
    padding:15px;
    z-index:9999;
}
.nav__container{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    margin:auto
}
@media(max-width: 767px){
    .nav__container{
        max-width:100%
    }
}
@media(min-width: 768px) and (max-width:991px){
    .nav__container{
        max-width:700px     
    }
}
@media(min-width: 992px){
    .nav__container{
        max-width:900px     
    }
}
.nav__tab{
    color:#939393;
    min-width:25%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: .1s ease-in;
}
.nav__tab:not(.nav__tab--active):hover{
    color:#000;
}
.nav__tab--active{
    color:#fd666d
}

.nav__tab i{
    font-size:1.5rem
}

/*-------------

main

----------------*/
.maincontent{
    /*margin:35px;*/
    min-height:1000px;
    display:none;
    
    
}
@media(max-width: 767px){
    .maincontent{
        margin:35px;
        max-width:100%;
    }
}
@media(min-width: 768px) and (max-width:991px){
    .maincontent{
        margin:35px auto;
        max-width:700px;
    }
}
@media(min-width: 992px){
    .maincontent{
        margin:35px auto;
        max-width:900px;
    }
}
.maincontent__covid{
    display: flex;
    flex-direction: row;
    
}

.maincontent__section{
    padding-bottom:30px;
    border-bottom:1px solid #ddd
}
.maincontent__title{
    position: relative;
    font-size:1.15rem
}
.maincontent__title img{
    vertical-align: middle;
    margin-right:11px;
}
.maincontent__titleicon{
    color: #000;
    font-size:1.25rem;
    position: absolute;
    right: 0;
}

/*

refresh animation

*/
.refreshing{
    animation: refresh 1s linear infinite;
}
@keyframes refresh {
    0% {
        transform:rotateZ(0deg)
    }
    50% {
        transform:rotateZ(180deg)
    }
    100% {
        transform:rotateZ(360deg)
    }
}


/*-------------

top

----------------*/
.maincontent__covidbox{
    background-color: #f2f2f2;
    border-radius: 4px;
    box-shadow:0px 1.5px 3px #888888;
    margin:10px;
    padding:15px;
    width:50%;
    text-align: center;
    min-height:135px;
    position: relative;
    color: black !important;
    display: flex;
    flex-direction: column;
    
}

.maincontent__covidbox h6{
    margin:0;
    font-weight: bolder;
    font-size:1.25rem;
    
    
}
.maincontent__covidboxicon{
    width: 50px;
    height: 50px;
    margin:auto auto 0;
    background-color: white;
    border-radius: 50%;
    font-size:1.5rem

}
.maincontent__covidboxicon i{
    padding:11px
}


/*-------------

bottom

----------------*/
.maincontent__safeentry{
    background-color: #fff;
    border:1px solid #ddd;
    border-radius:8px;
    box-shadow:0px 1.5px 3px #888888;
}

.safeentry__tabs{
    background:#e9f3fc;
    display:flex;
    justify-content: space-between;

}
.safeentry__tab{
    padding:24px;
    min-width:33.33%;
    text-align: center;
}
.safeentry__tab p{
    margin:17px 0 0;
    font-weight:bolder;
    color:#000;
}

.safeentry__tab--active{
    background-color: #f4f9ff;
}
.safeentry__tab--active p{
    color:#727679
}

.safeentry__infobox{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:15px 18px
}
.safeentry__infobox--hidden{
    display:none
}
.safeentry__btn{
    min-width: 155px;
    padding:13px 0;
    border:1px solid #398acc;
    color:#398acc;
    background:transparent;
    border-radius:8px;
    transition: .1s ease-in;
    cursor:pointer;
    
}
.safeentry__btn:hover,.safeentry__btn:focus{
    border-color: #0c3c64;
    color:#0c3c64;
}
.safeentry__btn:active{
    background:#ddd
}
.safeentry__content{
    margin-right:10px
}
.safeentry__content p{
    color:#727679;
    margin:0 0 17px
}
.safeentry__content h6{
    color:#000;
    font-size:1.25rem;
    margin:0 0 17px;
    text-transform: uppercase;
}
.safeentry__content a{
    color:#2473ac;
    text-decoration: underline;
    margin:0 0 17px
}
.safeentry__content *:last-child{
    margin:0
}